<launch>
    <node pkg="diff_control" type="diff_wheeled_robot_key" name="diff_wheeled_robot_key" output="screen">
        <param name="scale_linear" value="0.5" type="double"/>
        <param name="scale angular" value="1.5" type="double"/>
        <remap from="turtlebot_teleop_keyboard/cmd_vel" to="/cmd_vel"/>
    </node>

</launch>